{% extends 'teacher/auth_base.html' %} {% block task %}{% url 'stu_login' %}{% endblock task %} {% block taskname %}LOGIN{% endblock taskname %} {% block cardtitle %}REGISTER{% endblock cardtitle %} {% block inputs %}

<div class="input-group">
    <span class="input-group-addon">
<i class="material-icons">First Name</i>
</span>
    <div class="form-group label-floating">
        <label class="control-label">First Name</label>
        <input type="text" name="teach_FN" required class="form-control">
    </div>
</div>




<div class="input-group">
    <span class="input-group-addon">
<i class="material-icons">Last Name</i>
</span>
    <div class="form-group label-floating">
        <label class="control-label">Last Name</label>
        <input type="text" name="teach_LM" required class="form-control">
    </div>
</div>



<div class="input-group">
    <span class="input-group-addon">
<i class="material-icons">Bio</i>
</span>
    <div class="form-group label-floating">
        <label class="control-label">Bio</label>
        <input type="text" name="teach_bio" required class="form-control">
    </div>
</div>


<div class="input-group">
    <span class="input-group-addon">
<i class="material-icons">Phone Number</i>
</span>
    <div class="form-group label-floating">
        <label class="control-label">Phone Number</label>
        <input type="number" name="teach_num" required class="form-control">
    </div>
</div>




<div class="input-group">
   

        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-circle">
                <img src="https://w0.peakpx.com/wallpaper/638/798/HD-wallpaper-lol-cute-kitty-laugh-adorable-cat-kitten.jpg" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
            <div>
                <span class="btn btn-round btn-rose btn-file">
<span class="fileinput-new">Profile Pic</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" name="teach_pic" /></span>
                <br/>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
        </div>
    </div>



<div class="input-group">
    
        <select class="selectpicker" data-style="btn btn-primary " title="stu_gender" name="teach_gender" data-size="35">


<option disabled selected>Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
<option value="Prefer not say">Prefer not say</option>
</select>
    
</div>
{% endblock inputs %}